[core]
	autocrlf = true
	editor = nvim
	pager = delta
[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false
[delta]
    navigate = true
    light = false
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default	
[user]
	email = xlzqwerty1@gmail.com
	name = Kevin Xiao
	signingkey = {{ssh_public_key}}
[gpg]
	format = ssh
[commit]
	gpgsign = true
