[core]
	autocrlf = false
	editor = nvim
	pager = delta
[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false
[delta]
    navigate = true
    light = false
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default	
[user]
	email = xlzqwerty1@gmail.com
	name = Kevin Xiao
	signingkey = {{ssh_public_key}}
[gpg]
	format = ssh
[commit]
	gpgsign = true
[pull]
	ff = only
[alias]
	l = log --graph --pretty=\"%C(yellow)%h %C(cyan)%ai       %C(green)%s%n%C(blue)%an (%ae)  %C(magenta)%D%n\"
	la = log --graph --pretty=\"%C(yellow)%h %C(cyan)%ai       %C(green)%s%n%C(blue)%an (%ae)  %C(magenta)%D%n\" --all

